@import "global.lessimport";

#Event {
  user-select: none;
  table th:first-child {
    width: 60%;
  }

  form {
    margin: 10px;

    font-size: 1.2em;
    >h1 {
      font-size: 1.4em;
    }

    [name=name] {
      width: 50ex;
    }
    [name=date] {
      width: 11ex;
    }

    .onOff[data-field=closed] {
      width: 7em;
    }
  }

  &.noEvent>div>nav>.link {
    display: none;
  }

  .events {
    h1 {
      font-size: 1.4em;
    }
    &>nav {
      margin: 1em;
    }
  }

  table.categories {
    tr {
      &:not(:last-child) {
        border-bottom: 1px solid fade(#000, 10%);
      }
      &.fmt {
        >td {
          padding-top: 20px;
          padding-bottom: 8px;
        }
        &.L>td:before {
          content: "Lead ";
        }
        &.B>td:before {
          content: "Bouldering ";
        }
        &.L, &.B {
          >td:before {
            display: block;
            font-size: 1.2em;
            font-weight: bold;
          }
        }
        color: #000;
        font-size: 1.1em;
        border-bottom: none;
      }
      &.selected {
        background-color: #aff;

        .select:before {
          content: "check_box";
        }
      }
      &.B+.L {
        border-top: 1em solid fade(#fff, 0%);
      }
      button {
        text-align: left;
      }
      .select {
        display: inline-block;
        width: 1.2em;
        height: 1.2em;
        &:before {
          .md-inline-icon("check_box_outline_blank"; @fontSize: 1em);
          vertical-align: top;
        }
      }
    }
  }

}


#Event #Show {
  form {
    display: inline-block;

    +.link {
      display: none;
    }
  }

  .action {
    margin-top: 1em;
    color: #066;
    >span {
      font-weight: bold;
    }
  }
}

#EditEvent .categories {
  label {
    display: block;
    &:nth-child(even) {
      background-color: fade(#000, 10%);
    }
    .name {
      display: inline-block;
      width: 15em;
      margin-right: 10px;
    }
    input {
      width: 8em;
    }
    .desc {
      margin-left: 10px;
      display: inline-block;
    }
  }
}