@import "forms.lessimport";

.ui-selectList.boardSelect>div>div {
  min-width: 200px;
}

body>.glassPane {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;

  >span {
    position: absolute;
    width: 0;
    height: 0;
  }
  >:not(.dialogContainer):not(span):not(.inline) {
    position: fixed;
    background-color: #fff;
    .box-shadow-level(1);
    padding: 5px;
    max-height: 100vh;
    >ul>li {
      cursor: pointer;
    }
  }
}

button.select, .dropList {
  padding: 3px;
  border-radius: @fixedBorderRadius;
  &:after {
    margin-left: 3px;
    position: relative;
    top: -2px;
    .app-inline-icon("arrow_drop_down");
  }
}

.onOff {
  @cellWidth: 2.5em;
  position: relative;
  user-select: none;
  cursor: pointer;
  display: inline-block;
  width: 2 * @cellWidth;
  height: 2em;
  line-height: 2em;
  color: white;
  background-color: #000;
  border-radius: 2px;
  border: 4px solid #000;
  .content-box();
  >i {
    display: block;
    transition: margin-left 200ms;
    position: absolute;
    margin-left: 0em;
    width: 50%;
    height: 2em;
    border-radius: 2px;
    background-color: @cPrimary;
    z-index: 1;
  }
  >span {
    transition: opacity 200ms;
    opacity: 1;
    &+span {
      opacity: 0.5;
      margin-left: 50%;
    }
    position: absolute;
    z-index: 2;
    text-align: center;
    display: inline-block;
    width: 50%;
  }
  &.on {
    >span {
      opacity: 0.5;
    }
    >span+span {
      opacity: 1;
    }
    >i {
      margin-left: 50%;
    }
  }
}

li.sep {
  border-top: 2px groove;
  margin: 4px 0;
  padding: 0;
}

body>.complete {
  position: absolute;
  cursor: pointer;
  margin: 0;
  .box-shadow-level(2);
  border-bottom-right-radius: 4px;
  background-color: #fff;
  color: #444;
  padding: 4px;
  >li {
    padding: 2px;
    border-radius: @fixedBorderRadius;
    &:hover, &.selected {
      color: #fff;
      background: @cPrimary;
    }
  }
}

#SelectMenu {
  max-height: 20em;
  font-size: 16px;
  .flexFlow(column);
  >.search {
    flex-shrink: 0;
    &:after {
      .app-inline-icon("search"; @fontSize: 1.4em);
      margin-left: .1em;
    }
    input {
      border: none;
      border-radius: 0;
      border-bottom: 1px solid #444;
      display: inline-block;
      width: calc(~"100% - 24px");
    }
  }

  >ul {
    flex: 1 1 auto;
    overflow: auto;
  }

  li {
    padding: 6px 4px;
  }
}

#SelectMenu {
  >ul, >menu {
    li:not(.disabled):not(.sep) {
      border-radius: 2px;
      &:hover, &.selected {
        color: @colorHeaderDlistBtnSel;
        background: @colorHeaderDlistBtnBGSel;
      }
      &:hover {
        background-color: lighten(@cPrimary, 10%);
      }
      &:hover.selected {
        background-color: darken(@cPrimary, 5%);
      }
    }
    li.disabled {
      opacity: 0.7;
      cursor: not-allowed;
    }
  }
}

fieldset.actions {
  margin-top: 0.5em;
  button:not(:first-child) {
    margin-left: 0.5em;
  }
}

fieldset.fields {
  >div {
    margin-top: 1em;
  }
  >label {
    &:after {
      content: " ";
      display: table;
    }
    >span:first-child {
      margin-top: 1em;
      display: block;
      font-size: 0.8em;
    }
  }
}

.label+form {
  display: inline-block;
}

.mdMention, .rtMention {
  >div {
    &.empty:after {
      content: "Not found";
      display: block;
      padding: 5px;
      color: #aaa;
    }
    &.needMore.empty:after {
      content: "Enter text";
    }
    &[data-type]:before {
      padding: 5px;
      width: 100%;
      display: block;
      background-color: #888;
      color: #fff;
      text-align: center;
    }
    &[data-type="Ticket"]:before {
      content: "Tickets"
    }
    &[data-type="Board"]:before {
      content: "Boards"
    }
    color: @cFormText;
    z-index: 1;
    min-width: 10em;
    >div {
      .flexFlow(row);
      align-items: baseline;
      >.name {
        padding: 4px;
      }
      padding: 5px;
      border-bottom: 1px solid #ccc;
      &.selected {
        &:hover, &.selected {
          color: @colorHeaderDlistBtnSel;
          background: @colorHeaderDlistBtnBGSel;
        }
      }
    }
  }
  &:not(.inline), >div {
    border-radius: @fixedBorderRadius;
    background-color: @colorDialogBackground;
    .box-shadow-level(2);
  }
}

.mdEditor, .format {
  [data-a] {
    padding: 1px 2px;
    border-radius: 0;
    border: 1px solid fade(#000, 10%);
    font-weight: bold;
    color: darken(@colorHeaderDlistBtnBGSel, 10%);
  }
}

body>.Calendar {
  position: absolute;
  margin-top: 4px;
  background: #fff;
  color: @cFormText;
  z-index: 1000;
  .box-shadow-level(2);

  header {
    padding: 8px;
    background: @cPrimary;
    color: #fff;
    .flexFlow(row, nowrap);
    justify-content: space-between;
    button:before {
      .app-inline-icon(""; @fontSize: 1.4em);
    }
    [name=previous]:before {
      content: "arrow_back";
    }
    [name=next]:before {
      content: "arrow_forward";
    }
    button {
      font-size: .9em;
    }
    span {
      display: block;
      flex: 1 1 100%;
      text-align: center;
    }
  }

  table {
    margin: 8px;
  }
  td {
    padding: 2px;
    text-align: right;
    &.previous, &.next {
      color: #aaa;
    }
    &.today {
      background: @colorBackground;
      .box-shadow-level;
    }
  }

  tr:not(.dow)>td:hover,
  table:not(:hover) td.select {
    background: @cPrimary;
    color: #fff;
    .box-shadow-level(2);
  }
}

.input[contenteditable=true] {
  word-break: break-word;
  &:focus,
  &:hover {
    outline: none;
    box-shadow: inset 0 0 5px #d5d5d5;
  }
}

#SelectMenu.userList {
  li {
    .flexFlow(row);
    align-items: baseline;
    padding: 2px;
  }

  .avatar {
    margin-right: .5ex;
  }
}

.sliderContainer {
  .slider();
}
