@import "global.lessimport";

.errorMsg {
  display: none;
  color: @colorErrorText;
}

.error+.errorMsg {
  &:first-letter {
    text-transform:uppercase;
  }
  display: inherit;
}

.error, .error:focus {
  background-color: @colorInputErrorBG;
        }

body>.glassPane {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;

  >span {
    position: absolute;
    width: 0;
    height: 0;
  }
  >:not(.dialogContainer):not(span):not(.inline) {
    position: fixed;
    background-color: #fff;
    .box-shadow-level(1);
    padding: 5px;
    max-height: 100vh;
    >ul>li {
      cursor: pointer;
    }
  }
}

fieldset {
  border: none;
  label {
    display: block;
    >.name {
      display: block;
      font-size: 0.8em;
      color: @colorText;
    }
    margin-top: 0.5em;
  }
  &.actions {
    >button  {
      margin-right: 1em;
    }
  }

  [name=delete] {
    color: #fff;
    .linear-gradient(#a00, #800);
  }

}

table.select {
  width: 100%;
  cursor: pointer;
  thead {
    border-bottom: 1px solid #000;
    th {
      text-align: left;
    }
  }
  tr:nth-child(even) {
    background-color: fade(#000, 10%);
  }
  th, td {
    padding: 2px;
  }
  tbody tr:hover {
    background-color: #0ff;
  }
}

.autoComplete {
  position: relative;
  &+ul.complete {
    position: absolute;
    list-style-type: none;
    &>li {
      margin: 0;
      padding: 0;
    }

    margin: 0;
    border: 1px solid fade(#000, 80%);
    .box-shadow(0 0 4px fade(#000, 60%));
    border-bottom-right-radius: 4px;
    background-color: #fff;
    color: #444;
    padding: 4px;
    >li:hover, >li.selected {
      color: #000;
      background: #0ff;
    }
  }
}

.onOff {
  @cellWidth: 2.5em;
  position: relative;
  user-select: none;
  cursor: pointer;
  display: inline-block;
  width: 2 * @cellWidth;
  height: 2em;
  line-height: 2em;
  color: white;
  background-color: #000;
  border-radius: 2px;
  border: 4px solid #000;
  .content-box();
  >i {
    display: block;
    transition: margin-left 200ms;
    position: absolute;
    margin-left: 0em;
    width: 50%;
    height: 2em;
    border-radius: 2px;
    background-color: #0aa;
    z-index: 1;
  }
  >span {
    transition: opacity 200ms;
    opacity: 1;
    &+span {
      opacity: 0.5;
      margin-left: 50%;
    }
    position: absolute;
    z-index: 2;
    text-align: center;
    display: inline-block;
    width: 50%;
  }
  &.on {
    >span {
      opacity: 0.5;
    }
    >span+span {
      opacity: 1;
    }
    >i {
      margin-left: 50%;
    }
  }
}

@media print {
  table.select {
    tr {
      page-break-inside: avoid;
      border-bottom: 1px solid #ddd;
      background: none !important;
    }
  }
}