select, button:not(.print), .no-print {
  display: none;
}

table.results td {
  border-bottom: 1px solid #444;
}

html {
  .linear-gradient(#0ff, #eff);
  height: inherit;
}

body {
  height: inherit;
  min-width: inherit;
  min-height: inherit;
}

#Header+section {
  position: static;
  top: inherit;
  bottom: inherit;
  left: inherit;
  right: inherit;
  > div {
    height: inherit;
    overflow: inherit;
    margin: auto;
    width: inherit;
    min-width: inherit;
  }
}
