#Category {
  .viewMenu {
    float: right;
    button {
      padding: 2px 4px;
    }
  }
  >h1 {
    font-size: 2em;
    margin-left: 20px;
    float: left;
  }
  h1.selectedHeat {
    font-size: 1.4em;
    color: #069;
    display: block;
    clear: both;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 4px;
  }

  table.results {
    td, th {
      cursor: initial;
    }
    border: 1px solid fade(#000, 30%);
    width: inherit;
    margin: auto;
    td.score {
      &:not(.heat-2) {
        cursor: pointer;
      }
      border-left: 1px solid fade(#000, 20%);
      padding: 4px;
      input {
        width: 3em;
        margin: 0;
        border: none;
        padding: 1px;
      }
      >i {
        font-style: normal;
        float: right;
        font-size: 0.9em;
        color: #444;
      }
    }
    td.input {
      span {
        display: none;
      }
    }
    th {
      width: 6em;
      padding: 4px;
    }
    tr {
      height: 2.2em;

    }
    thead {
      background-color: #08a;
      color: #fff;
      th.climber {
        width: 20em;
        max-width: 100%;
      }
    }
    &+.note {
      color: #888;
      display: block;
      text-align: center;
    }
  }

  &.rank table.results+.note {
    display: none;
  }

  &.general .viewMenu [name=toggleStartOrder] {
    visibility: hidden;
  }

  &.start table.results {
    counter-reset: line-number;
    td:first-child:before {
      content: counter(line-number) ".";
      counter-increment: line-number;
      padding-right: 0.3em;
    }
  }
}