@import "global.lessimport";

html {
  .linear-gradient(#0ff, #eff);
  height: 100%;
}

body {
  height: 100%;
  overflow: hidden;
  overflow-x: auto;
  margin: 0;
  padding: 0;
  min-width: @bodyWidth;
  min-height: 300px;
  font-family: Arial,Helvetica,sans-serif;
  font-size: @defaultFontSize;
  color: @colorText;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  background: rgba(0,0,0,0) url(/images/jj.svg) no-repeat -1px @headerHeight - 1;
  background-size: 25%;
}

*, :after, :before {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


#Header {
  background-color: fade(@colorHeaderBackground, 60%);
  >div {
    margin: auto;
    width: @bodyWidth;
    background-color: @colorHeaderBackground;
    color: @colorHeaderText;
    height: @headerHeight;
    line-height: @headerHeight;
    font-size: 1.2em;

    nav.left {
      float: left;
    }
    nav.right {
      float: right;
    }
  }
  &+section {
    position: absolute;
    top: @headerHeight;
    bottom: 0;
    left: 0;
    right: 0;
    > div {
      background-color: fade(#fff, 90%);
      height: 100%;
      overflow: auto;
      margin: auto;
      width: @bodyWidth;
    }
  }
}

#Main {
  width: 100%;
}
